header{

	#header_container{

		nav{

			li{

				&.first{
					a{
						width: auto;
						padding: 10px 10px 10px 20px;
					}
				}
				a{
					padding: 10px;

				}
			}
		}
		div#cart{

			div#checkout{

				a{
					padding: 10px;
				}
			}
		}
	}
}