// variables
$teal: #9fcecb;
$brown:#3f201b;
$lbrown:#f1e5d5;
$fonts:Helvetica,Arial,sans-serif;
$bfonts:'Lusitana',serif;

// reset
*,:before,:after
{
	margin: 0;
	padding: 0;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	box-sizing:border-box;
}
header,nav,footer,section,p,a,ul,li,img
{	display:block; }
li{
	list-style: none;
}
// overall
body{
	background: $teal url('../img/pkb_poolBlueBK_1920x1280.jpg');
	color: $brown;
	font-family: $fonts;
}
a{
	color: $brown;
	text-decoration: none;

	&:hover,&:focus{
		// background: $teal;
		// color:white;
	}
}
#container{
	width: 100%;
}
.moreless{
	text-align: right;
	padding-right: 20px;
	font-family: $bfonts;
	font-weight: bold;
	cursor: pointer;
	position: relative;
	top: -10px;

	&:hover,&:focus{
		color: $teal;
	}
}
// top nav
header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	max-width:960px;
	z-index: 10;

	#cover{
		z-index: 5;
		height: 30px;
		background: url('../img/pkboo_poolBlueCVR_960x30.jpg') no-repeat;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
	}
	#logo{
		position: relative;
		text-align: left;
		z-index: 50;
		width: 200px;
		// margin: 0 auto;
		top: -32px;
		left: 10px;
		display: inline-block;
		// float: left;

		img{
			text-align: left;
		}
		a{
			background: none;
		}

	}
	#header_container{
		position: relative;
		top: -116px;
		background: #fff url('../img/pkbSite_headerBKFW.jpg') no-repeat;
		// -moz-border-top-left-radius: 15px;
		// -moz-border-top-right-radius:15px;
							// border-top-left-radius: 15px;
							// border-top-right-radius:15px;
		-moz-box-shadow: 0 0 20px rgba(0,0,0,0.35);
		-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.35);
		box-shadow: 0 0 20px rgba(0,0,0,0.35);
		z-index: 9;
		height: 55px;
		overflow: hidden;
		-webkit-transition: height 500ms ease-in-out;
		transition: height 500ms ease-in-out;

		nav{
			position: relative;
			top: 5px;
			font-weight: bold;
			z-index: 40;

			li{
				display: inline-block;
				float: left;
				margin: 0 auto;
				text-align: center;
				width: 50%;
				display: none;

				&#plus{
					display: block;
					float: none;
					width: 100px;
					position: relative;
					// left: -135px;
					left: -40%;
					margin-bottom: 35px;

					a{
						-webkit-box-shadow:inset 0px 0px 7px 0 rgba(159,206,203,0.75);
															box-shadow:inset 0px 0px 7px 0 rgba(159,206,203,0.75);
						display: inline-block;
						border: none;
						width: 50%;
						padding: 6px 3px;
						font-size: 1.5em;
						background: rgba(245,247,246,0.5);
						color:$brown;
					}
				}
				a{
					background: $brown;
					color: $lbrown;
					text-decoration: none;
					padding: 10px 20px;
					font-size: 16px;
					-moz-border-radius: 12px;
										border-radius: 12px;
					border:4px solid white;

					&:hover, &:focus{
						color: #fff;
						background: $teal;
					}
					&.active{
						background: $teal;
						color: $brown;

						&:hover, &:focus{
							color: #fff;
						}
					}
				}
			}
		}
		// shopify
		#cart{
			position: relative;
			float: none;
			font-weight: bold;
			z-index: 30;
			text-align: center;
			top: 25px;

			img{
				display: inline-block;
				margin: 10px 5px 0 0;
			}
		}
		#shopify{
			display: inline-block;
			vertical-align: top;
			margin: 10px 5px;

			p{
				display: inline-block;
				font-size: 12px;
				font-weight: normal;
				margin-right: 5px;
			}
		}
		#checkout{
			display: inline-block;
			// vertical-align: top;
			position: relative;
			// top: -5px;
			top: -25px;
			// width: 50%;
			width: auto;
			float: right;
			// border:4px solid white;
			right: 10px;

			a{
				background: $brown;
				color: $lbrown;
				padding: 10px 20px;
				border:4px solid white;
				border-top: none;
				-moz-border-radius: 0 0 12px 12px;
				border-radius: 0 0 12px 12px;

				&:hover,&:focus{
					color: #fff;
				}
			}
		}
		&:hover{
			height: 240px;
			-moz-border-bottom-left-radius: 15px;
			-moz-border-bottom-right-radius: 15px;
						border-bottom-left-radius: 15px;
						border-bottom-right-radius: 15px;
		}
	}
}
// main
#content_container{
	margin: 75px auto 0;
	background: #fff;

	#contentL,
	#contentR{
		display: inline-block;
		vertical-align: top;
	}
	#contentL{
		padding: 30px 10px 10px;

		h1{
			font-family: $bfonts;
			letter-spacing: -1.125px;
			text-align: left;
			// padding-bottom: 20px;
			padding-left: 10px;

		}
		h2{
			font-family: $bfonts;
			font-size: 1.25em;
			letter-spacing: -0.125px;
			text-align: center;
		}
		p{
			padding: 10px;
			line-height: 1.25em;
		}
		a{
			padding: 10px;

			&:hover,&:focus{
				color: $brown;
			}
		}
	}
	#contentR{
		width: 100%;

		img{
			width: 100%;
			padding: 10px 0;
		}
		.stitching{
			// height: 10px;
			height: 5px;
			background: url('../img/pkBoo_stitching_header.jpg') 50% no-repeat;
		}
		p{
			padding: 10px;

			&.caption{
				font-size: 0.9em;
				text-align: center;

					.name{
					font-family: $bfonts;
					font-weight: bold;
					// display: block;
				}
			}
		}
	}
	&.page,
	.aboutPage{
		padding: 50px 50px 0;
		min-height: 400px;

		h1{
			font-family: serif;
			font-size: 30px;
			margin-bottom: 10px;
			background: url('../img/pkBoo_about_stitching.gif') 50% no-repeat;
			background-position: 0 bottom;
			padding-bottom: 15px;
		}
		.stitchAbout,
		.stitching{
			width: 816px;
			height: 10px;
			background: url('../img/pkBoo_about_stitching.gif') 50% no-repeat;
			position: relative;
			top: -10px;
		}
		.aboutText{

			img{
				float: left;
				margin: 0 30px 30px 0;
			}
		}
		p{
			padding-bottom: 10px;

			a{
				display: inline-block;
			}
			&:first-child{
				font-style: italic;
			}
		}
		h2{
			padding-bottom: 10px;
		}
		td{
			padding-bottom: 10px;

		}
		tr{

			&:first-child{
				font-weight: 700;
			}
		}
	}
}
// footer
footer{
	padding: 20px 10px;
	background: #fff;
	-moz-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
	margin-bottom: 20px;
	font-size: 0.9em;

	#copyright{
		text-align: center;
	}

	ul{

		li{
			text-align: center;
			display: inline-block;
			// float: left;

			a{
				padding: 10px;
			}
		}
		&#legal{

			li{
				width: 49%;
			}
		}
		&#contact{
			padding-top: 20px;
			margin: 0 auto;

			li{
				// padding: 0 20px;
				padding: 0 20px 20px;

				a{
					padding: 0;
					font-size: 2em;

					&:hover,&:focus{
						background: #fff;
						color: $teal;
					}
				}
			}
		}
	}
}

// desktop
// @media (min-width: 700px){
@media (min-width: 749px){
	@import 'desktop';
}

// tablet
@media (min-width: 750px) and (max-width: 855px){
	@import 'tablet';
}